<mat-toolbar>
  <span> <a mat-icon-button routerLink="/"><h2>Logist Technologies</h2></a></span>
  <span class="spacer" 
    ></span>

    <mat-label style="margin-right: 20px; font-weight: 300;">Login Page</mat-label>
    
 
</mat-toolbar>

<div class="bootstrap-wrapper">
  <div class="container text-center" style="margin-top: 200px;">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Login  Here </h1>

        <form (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input 
            [(ngModel)]="credentials.username"
            required
            name=username
            type="text" 
            matInput />
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input 
            [(ngModel)]="credentials.password"
            required
            name=password
            type="password"
             matInput />
          </mat-form-field>
          <div class="container text-center">
            <p *ngIf="warning"style="color:brown"> {{warning}}</p>
              <button type="submit" mat-raised-button color="primary" (onClick)="onSubmit()">Login</button>
              <button type="reset" mat-raised-button color="accent" style="margin-left: 10px;">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
